<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>codaalfredjs.brianseidman.com</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0061EA02-AEA7-499D-9E52-54F70CADD599</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B188E73-6343-4030-BCAC-E3452D17FF67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1BCC95FB-5E4C-42E5-9166-D7C6E49A10F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC41AA0A-18BE-49C2-A519-8718CB63920F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2789F53A-1855-4D6D-9164-225FC7FE9416</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB971048-0D66-4DD5-9CF9-89827584B2A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F96291F-CBED-461E-BA18-CD80215A4FE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD17FB08-E5E5-4EA7-B993-3DFF31A2215E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5632F162-04AD-47E2-AAFB-90C0D8AE1923</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23319634-F405-4404-8F56-4913340F38B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66EA1713-7A55-415D-A143-2D0657075FEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA8D429C-1A5B-40D3-951D-2D5459DE5717</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B188E73-6343-4030-BCAC-E3452D17FF67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBE7D493-0EF6-4607-9120-74FFDD92B644</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBE7D493-0EF6-4607-9120-74FFDD92B644</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2789F53A-1855-4D6D-9164-225FC7FE9416</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB971048-0D66-4DD5-9CF9-89827584B2A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D422641-9F12-49AD-9078-02A2BC2E1531</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F05BF1F6-F79E-445D-95B7-3705FD5C7ABD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D17CA9D-8AD9-4F4E-8050-1D7321DDAB26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brian Seidman</string>
	<key>description</key>
	<string>Coda Doc Browser for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CodaAlfredJS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Patience ...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node search_coda.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search Coda docs</string>
				<key>title</key>
				<string>Search Coda</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2F96291F-CBED-461E-BA18-CD80215A4FE1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://coda.io/docs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5D17CA9D-8AD9-4F4E-8050-1D7321DDAB26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FD17FB08-E5E5-4EA7-B993-3DFF31A2215E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cda</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Opens your Coda doc list</string>
				<key>text</key>
				<string>All docs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F05BF1F6-F79E-445D-95B7-3705FD5C7ABD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cdf</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Opens the Coda formula list</string>
				<key>text</key>
				<string>Formula list</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5632F162-04AD-47E2-AAFB-90C0D8AE1923</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://coda.io/formulas</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>23319634-F405-4404-8F56-4913340F38B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://community.coda.io/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EC41AA0A-18BE-49C2-A519-8718CB63920F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cdc</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Opens the Coda community forum</string>
				<key>text</key>
				<string>Coda Community</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1BCC95FB-5E4C-42E5-9166-D7C6E49A10F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://coda.io/api</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BA8D429C-1A5B-40D3-951D-2D5459DE5717</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cdapi</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Opens the Coda API reference</string>
				<key>text</key>
				<string>Coda API reference</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>66EA1713-7A55-415D-A143-2D0657075FEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter the name of your new Coda doc</string>
				<key>text</key>
				<string>New Doc Name</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8B188E73-6343-4030-BCAC-E3452D17FF67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Patience ...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node folder_list_coda.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Choose a folder for the new doc</string>
				<key>title</key>
				<string>Folders</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2789F53A-1855-4D6D-9164-225FC7FE9416</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

./node_modules/.bin/run-node make_new_coda.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EB971048-0D66-4DD5-9CF9-89827584B2A3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5D422641-9F12-49AD-9078-02A2BC2E1531</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cdn</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Press Enter to type the name of your new doc</string>
				<key>text</key>
				<string>New Coda doc</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0061EA02-AEA7-499D-9E52-54F70CADD599</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>title</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BBE7D493-0EF6-4607-9120-74FFDD92B644</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># CodaAlfredJS

Browse [Coda](https://coda.io) in [Alfred](https://alfredapp.com) — written in JavaScript!

![CodaAlfredJS](images/codaalfredjs_screenshot.png)

This Alfred workflow was inspired **very** heavily by Daniel Stieber's original [CodAlfred](https://github.com/danielstieber/CodAlfred) workflow. But CodAlfred was written in PHP, and as of macOS Monterey, Apple has stopped pre-installing PHP on macOS. PHP can be reinstalled and there are methods for [reenabling PHP for Alfred](https://www.alfredforum.com/topic/17062-using-php-on-monterey-macos-12/), but writing a new Coda/Alfred workflow in JavaScript seemed like a more direct solution — hence, **CodaAlfredJS**.

Easy set-up:
- 💻 Download and install the CodaAlfredJS workflow.
- 🔐 Enter your [Coda API](https://coda.io/account) in the "Configure Workflow" box when prompted.
- 😀 Browse Coda via Alfred. That's it!

## Usage
You will need an API access token from Coda to query your data with the Coda API. To get that token:
- From any Coda page, choose your avatar, then the three vertical dots, and then "Account Settings" (or follow the [Account Settings](https://coda.io/account) link).
- Scroll to "API Settings," and generate an API token with read and write access to your docs.

## Commands
cd — Lists your Coda docs. Type to narrow the list; enter to open the doc in your browser.
cdn — Creates a new Coda doc. The workflow will first ask you for a name for the doc; then it will list your Coda folders for where to place the doc. After you choose the folder, the new, blank doc will open in your browser.
cda – Opens your Coda doc list.
cdc – Opens the Coda forums.
cdf – Opens the Coda formula list.
cdapi – Opens the Coda API reference.

## Preferences
Under the Alfred workflow's User Configuration, `doc_limit` is set to `10` by default. This controls how many docs are returned by the `cd` command; modify this for fewer/more results.

## Roadmap
- Duplicate a doc
- Browse/modify your Coda documents from the doc to the cell level ...

## Privacy
No user data is shared with me via this Alfred workflow. Your Coda API access token is not included if you duplicate or export the workflow.

## Thanks
- [Daniel Stieber](https://www.danielstieber.com) and his original [CodAlfred](https://github.com/danielstieber/CodAlfred) workflow
- [Sindre Sorhus](https://sindresorhus.com) and his fantastic [Alfy](https://github.com/sindresorhus/alfy) library for Alfred JavaScript workflows (plus a variety of his other [apps](https://sindresorhus.com/apps) that I use daily)</string>
	<key>uidata</key>
	<dict>
		<key>0061EA02-AEA7-499D-9E52-54F70CADD599</key>
		<dict>
			<key>note</key>
			<string>Creates a new Coda doc in a specific folder</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>1BCC95FB-5E4C-42E5-9166-D7C6E49A10F5</key>
		<dict>
			<key>note</key>
			<string>Opens Coda forums</string>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>23319634-F405-4404-8F56-4913340F38B7</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>2789F53A-1855-4D6D-9164-225FC7FE9416</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>2F96291F-CBED-461E-BA18-CD80215A4FE1</key>
		<dict>
			<key>note</key>
			<string>Lists your Coda docs</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>5632F162-04AD-47E2-AAFB-90C0D8AE1923</key>
		<dict>
			<key>note</key>
			<string>Opens Coda formula list</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>5D17CA9D-8AD9-4F4E-8050-1D7321DDAB26</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>5D422641-9F12-49AD-9078-02A2BC2E1531</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>66EA1713-7A55-415D-A143-2D0657075FEA</key>
		<dict>
			<key>note</key>
			<string>Opens the Coda API reference</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>8B188E73-6343-4030-BCAC-E3452D17FF67</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>BA8D429C-1A5B-40D3-951D-2D5459DE5717</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>BBE7D493-0EF6-4607-9120-74FFDD92B644</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>EB971048-0D66-4DD5-9CF9-89827584B2A3</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>EC41AA0A-18BE-49C2-A519-8718CB63920F</key>
		<dict>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>F05BF1F6-F79E-445D-95B7-3705FD5C7ABD</key>
		<dict>
			<key>note</key>
			<string>Opens doc list</string>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>FD17FB08-E5E5-4EA7-B993-3DFF31A2215E</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your Coda API code</string>
			<key>label</key>
			<string>Coda API</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>10</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Set number of Coda docs to return in search (default: 10)</string>
			<key>label</key>
			<string>Doc Limit</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>doc_limit</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/brianseidman</string>
</dict>
</plist>
